/*
!app
!artisan
!bootstrap
!config
!database
!public
!resources
!routes
!storage
!composer.*
!artisan
!php-entrypoint.sh

/bootstrap/cache/*.*
/docs
/test
/vendor
/infrastructure
/storage/**/*.*

**/*.md
**/*.sqlite
**/.*